<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>751 words - Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Merriweather:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body class="preload">
  
  <header>
    <a id="header-dashboard" href="/dashboard"></a>
    <div id="header-navigation">
      <a class="active archives" href="/dashboard/archives">Archives</a>
      <a class="settings" href="/dashboard/settings">Settings</a>
      <a class="logout" href="/logout">Log out</a>
    </div>
  </header>
  
  
  <div class="container">
    Test
  </div>

  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/archives.script.js"></script>
</body>
</html>