<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>MuchWords - Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400|Merriweather:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/cal-heatmap.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  
</head>

<body class="preload">
  
  <header>
    <a id="header-dashboard" href="/dashboard"></a>
    <div id="header-navigation">
      <a class="active archives" href="/dashboard/archives">Archives</a>
      <a class="settings" href="/dashboard/settings">Settings</a>
      <a class="logout" href="/logout">Log out</a>
    </div>
  </header>
  
  <div class="cal-container">
    <% if (deleteMessage.length > 0) { %>
      <% if (deleteError.length > 0) { %>
      <div class="alert alert-danger"><%= deleteMessage %></div>
          <% } else {%>
        <div class="alert alert-success"><%= deleteMessage %></div>
      <% } %>
    <% } %>
  </div>

  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="/js/cal-heatmap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/archives.script.js"></script>

  <%- include ../analytics.ejs %>

</body>
</html>