<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>751 words</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">

    <% if (signupMessage.length) { %>
            <div class="alert alert-danger"><%= signupMessage %></div>
      <% } %>

      <% if (loginMessage.length) { %>
            <div class="alert alert-danger"><%= loginMessage %></div>
      <% } %>

      <% if (logoutMessage.length) { %>
            <div class="alert alert-success"><%= logoutMessage %></div>
      <% } %>

    <div class="jumbotron col-md-5">
      
      

      <h1>Signup</h1>
      
      <form action="/signup" method="post">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-success">Signup</btn>

    </form>

    </div>

    <div class="jumbotron col-md-offset-2 col-md-5">
      
        

      <h1>Login</h1>
      
      <form action="/login" method="post">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-warning">Login</btn>
      
    </form>

    </div>
    
  </div>
</body>
</html>