@font-face {
  font-family: 'montserratlight';
  src: url('/fonts/Montserrat-Light-webfont.eot');
  src: url('/fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Light-webfont.woff2') format('woff2'),
        url('/fonts/Montserrat-Light-webfont.woff') format('woff'),
        url('/fonts/Montserrat-Light-webfont.ttf') format('truetype'),
        url('/fonts/Montserrat-Light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'montserratlight', Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  color: #2B2B2B;
}

form {
  width: 58%;
  margin: auto;
  margin-bottom: 30%;
}

#view {
  width: 70%;
  margin: auto;
  font-family: 'Merriweather', Serif;
  line-height: 31px;
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 17px;
}

#view p {
  white-space: pre-wrap;
}

#title, #content {
  outline: none;
  border: none;
  background: none;
  font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
  font-size: 40px;
  line-height: 55px;
  color: #333332;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  display: block;
  height: 55px;
  width: 100%;
}

#title {
  letter-spacing: -4px;
}

#content{
  font-family: 'Merriweather', Sans-Serif;
  margin-top: 30px;
  margin-bottom: 60px;
  min-height: 300px;
  font-size: 17px;
  line-height: 38px;
  height: 33px;
}

.view-container {
  width: 70%;
  margin: auto;
}
/* For header styles */


header {
  position: relative;
  width: 70%;
  margin: auto;
  min-width: 750px;
  font-size: 23px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: -0.5px 3px 2px -2px rgba(200,200,200,0.3);
}

header > * {
  display: inline-block;
  line-height: 49px; 
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

#header-dashboard {
  position: relative;
  font-family: 'Montserrat', Helvetica, Arial, Sans;
  height: 49px;
  background-image: url(/img/logo.png);
  letter-spacing: -1.5px;
  width: 200px;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

#header-navigation > * {
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, Sans;
  line-height: 50px;
  height: 49px;
  letter-spacing: -1.5px;
  margin-left: 50px;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

#header-navigation {
  position:absolute;
  top: 0;
  right: 0;
}
#header-dashboard, .archives, .settings, .logout {
  color: #666666;
  border-bottom: 0px solid #E9662C;
}

.active:hover, .settings:hover, .archives:hover, .logout:hover{
   border-bottom: 4px solid #E9662C;
   color: #333333;
   text-decoration: none;
   transition: border-bottom 0.2s ease, color 0.2s ease;
}


.logout:hover {
  border-bottom: 4px solid #c0392b;
}

.active {
  border-bottom: 4px solid #E9662C !important;
  color: #333333 !important;
  transition: border-bottom 0s ease !important;
}

/* Calendar styles */
.quartile {
  width: 12px;
  height: 13px;
  margin: 1px;
  display: inline-block;
}

.quartile:hover {
  border: 1px solid #666666;
}

.q0 {
  background-color: #EEEEEE;
}
.q1 {
  background-color: #f1c40f;
}
.q2 {
  background-color: #f39c12;
}
.q3 {
  background-color: #e67e22;
}
.q4 {
  background-color: #d35400;
}

#calendar {
  width: 70%;
  margin: auto;
}
#calendar .caption .quartile:hover {
  border: none;
}

/* Spinner Animation */
.spinner {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #EEEEEE;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* circular progress bar styles */
.circular-bar-counter {
  margin-top: -30px;
  margin-left: 40px;
}
.circular-bar {
  display: inline-block;
}

#submit {
  display: inline-block;
  float: right;
  color: grey;
}

/* view.ejs styles */

#info * {
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: grey;
}

#info #date {
  float: right;
}