.hero {
  background-image: url("/img/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 200px;
}

#logo {
  display: inline-block;
  background-image: url("/img/home-logo.png");
  height: 51px;
  width: 266px;
}