@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,200|Oswald);

/* Theme Variables for Home Page */
:root {
  --home-bg: #fff;
  --home-text: #333332;
  --home-text-secondary: #474f5c;
  --home-text-light: grey;
  --home-border: #e9eff2;
  --home-link: #BF7830;
  --home-link-hover: #955725;
}

body.dark-mode {
  --home-bg: #1a1a1a;
  --home-text: #e0e0e0;
  --home-text-secondary: #b0b0b0;
  --home-text-light: #888888;
  --home-border: #333;
  --home-link: #e9a060;
  --home-link-hover: #f0b070;
}

body {
  color: white;
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: var(--home-bg);
}

.hero {
  background-image: url("/img/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 200px;
}

#logo {
  display: block;
  background-image: url("/img/home-logo.png");
  height: 51px;
  width: 266px;
  float: left;
}

#login {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  float: right;
}

#login p {
  margin: 0;
}

#login a{
  display: block;
  border: 1px solid white;
  border-radius: .25rem;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.25rem;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

#login a:hover {
  background-color: white;
  color: #A86429;
  text-shadow: none;
}

.main-text {
  text-align: center;
  margin-top: 150px;
}

.main-text h1, h3 {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-shadow: 0 1px 6px rgba(0,0,0,0.5);
}

.main-text h3 {
  font-weight: 200;
  font-size: 40px;
}

#signup {
 text-align: center;
 margin-top: 50px;
}

input, button {
  outline: 0;
  display: inline-block;
  background: rgba(0,0,0,0.1);
  border: 4px solid white;
  height: 35px;
  width: 300px;
  margin: 10px;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.25rem;
  padding: 10px;
}

button {
  width: 180px;
  height: 63px;
  background: rgba(0,0,0,0);
  margin: 10px;
  margin-bottom: 2px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  text-shadow: none;
  background-color: white;
  color: #A56527;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
    opacity: 0.5;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 0.5;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 0.5;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
   opacity: 0.5
}

#bar {
  background: -webkit-linear-gradient(90deg, rgba(255, 81, 47, 0.3) 10%, rgba(240, 152, 25, 0.3) 90%); 
  background:    -moz-linear-gradient(90deg, rgba(255, 81, 47, 0.3) 10%, rgba(240, 152, 25, 0.3) 90%); 
  background:     -ms-linear-gradient(90deg, rgba(255, 81, 47, 0.3) 10%, rgba(240, 152, 25, 0.3) 90%); 
  background:      -o-linear-gradient(90deg, rgba(255, 81, 47, 0.3) 10%, rgba(240, 152, 25, 0.3) 90%); 
  background:         linear-gradient(90deg, rgba(255, 81, 47, 0.3) 10%, rgba(240, 152, 25, 0.3) 90%); 

  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 66px;
  text-align: center;
  padding-top: 17px;
  vertical-align: middle;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

/*
** Styles for the explain area (below the hero)
*/


#explain {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
#explain div {
  float: left;
  color: var(--home-text);
  width: 28%;
  padding: 0px;
  margin-left: 2.666666667%;
  margin-right: 2.666666667%;
  text-align: center;
}
#explain p {
  color: var(--home-text-secondary);
}

#explain a {
  color: var(--home-link);
  text-decoration: none;
}

#explain a:hover {
  color: var(--home-link-hover);
  text-decoration: none;
}

/* 
/ Login modal styles 
*/
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(52, 54, 66, 0.9);
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
 
.login-modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.login-box {
  width: 338px;
  margin: auto;
  margin-top: 150px;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-family: Oswald, Helvetica, Arial, sans-serif;
}

.login-modal button:hover {
  color: rgba(52, 54, 66, 0.9);
}

/*
/ Footer styles
*/

footer {
  border-top: 1px solid var(--home-border);
  width: 100%;
  clear: both;
  height: 50px;
  margin-top: 270px;
  color: var(--home-text-light);
}

footer .made-by {
  color: inherit;
  display: inline-block;
  float: right;
  margin-right: 17.6666667%;
}
footer p a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
footer p a:hover {
  color: var(--home-text);
}

footer .github {
  display: inline-block;
  margin-left: 17.6666667%;
}
footer .github .octicon {
  font-size: 22px;
}